<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>57962242740-gde3jhh96rpuburs71vlv5c4q3mj8a5h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.57962242740-gde3jhh96rpuburs71vlv5c4q3mj8a5h</string>
	<key>API_KEY</key>
	<string>AIzaSyAHjf94BHKD3NNjuDVzMbgGZi3Wlo5uEfU</string>
	<key>GCM_SENDER_ID</key>
	<string>57962242740</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tinder</string>
	<key>PROJECT_ID</key>
	<string>the-tinder-app</string>
	<key>STORAGE_BUCKET</key>
	<string>the-tinder-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:57962242740:ios:ea98d973680323af12ede1</string>
</dict>
</plist>